* {
    padding: 0;
    margin: 0;
  }
  
  .wrap {
    width: 100vw;
    height: 100vh;
    padding-top: calc(60vh - 64px);
    display: flex;
    justify-content: center;
    background: #131313;
  }
  
  .wallet {
    width: 64px;
    height: 64px;
    position: relative;
  }
  
  .icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffc451;
    color: #fff;
    position: relative;
    z-index: 101;
  }
  
  .coin {
    position: absolute;
    top: var(--coin-from-x, 24px);
    left: var(--coin-from-y, 24px);
    z-index: 100;
    opacity: 0;
  }
  
  .coin::after {
    content: "$";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    font-size: 10px;
    color: rgb(237, 196, 107);
    background: rgb(227, 162, 23);
    border: 2px solid rgb(237, 196, 107);
    border-radius: 50%;
    opacity: 0;
  }
  
  .coin--animated,
  .coin--animated::after {
    animation-delay: var(--coin-delay, 0s);
    animation-duration: var(--coin-duration, 1.5s);
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-iteration-count: infinite;
  }
  
  .coin--animated {
    animation-name: coin-x-axis;
    animation-timing-function: ease-in;
  }
  
  .coin--animated::after {
    animation-name: coin-y-axis-and-flip;
    animation-timing-function: ease-out;
  }
  
  @keyframes coin-x-axis {
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    to {
      left: calc(var(--coin-to-x) * 1.5);
    }
  }
  
  @keyframes coin-y-axis-and-flip {
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    to {
      transform: translateY(calc(var(--coin-to-y) * 1.5)) rotate3d(1, 1, 1, 1080deg);
    }
  }
  
  #w1{
    --coin-to-x: calc(-100px + 24px); --coin-to-y: calc(-105px + 24px); --coin-delay: 0.3s;
  }
  #w2{
    --coin-to-x: calc(-70px + 24px); --coin-to-y: -90px; --coin-delay: 0.1s;
  }
  #w3{
    --coin-to-x: calc(-30px + 24px); --coin-to-y: -125px; --coin-delay: 0s;
  }
  #w4{
    --coin-to-x: calc(10px + 24px); --coin-to-y: -130px; --coin-delay: 0.2s;
  }
  #w5{
    --coin-to-x: calc(30px + 24px); --coin-to-y: -100px; --coin-delay: 0.1s;
  }
  #w6{
    --coin-to-x: calc(70px + 24px); --coin-to-y: -95px; --coin-delay: 0.4s;
  }
  #w7{
    --coin-to-x: calc(100px + 24px); --coin-to-y: -100px; --coin-delay: 0.2s;
  }